@import '../../../assets/variables.styl'

.view-content
  .view-news
    padding-left 5em

    .view-news-title
      font-size 3em
      font-family $pt-serif
      text-transform capitalize

    .view-news-content
      .view-news-content-actions
        min-width 150px

  .view-actions
    min-width 200px



/* Transition */

.transition-in
  div
    transform translate3d(0, 0, 0)
    opacity 1
    transition transform .6s $timing .2s

  &:first-child
    transition-delay: .1s

