@import '../../../assets/variables.styl'

.post
  position relative
  overflow hidden
  width 100%
  min-height 300px
  padding-top 110px
  padding-bottom 50px

  .post-head
    position absolute
    top 20px
    left 0
    text-align center
    font-size .9em
    color lighten($main-font-color, 60%)

    .divisor
      background-color lighten($main-font-color, 90%)
      height 1px

    span
      font-size .8em
      font-weight 300

    strong
      font-weight 600
      display block
      text-align center
      padding 5px 0


  .post-title-section
    text-align center
    min-height 100px

    .post-title
      color lighten($main-font-color, 30%)


  .post-content-section
    flex 1
    text-align center
    width 100%
    line-height 0

    .post-channels
      color lighten($main-font-color, 55%)
      font-weight 400
      line-height 1.4em
      vertical-align middle
      font-size 65%
      background-color $bkg-color
      border 2px solid transparent
      border-radius 0
      margin 2px
      padding 0 4px
      cursor pointer
      overflow hidden

      .post-channels-aval
        position relative
        left: -6px;
        padding 0 3px
        background-color limegreen

      &.active
        background-color white
        color inherit

    .post-channels-icon
      position absolute
      top -2px
      right -2px
      font-size 10px
      color #008ec8
      background #fff
      margin 0
      border-radius 50%
      border 1px solid white
      padding 0

  .post-actions
    position absolute
    bottom 20px
    width: 40px;
    text-align: center;

    button
      transition-duration 0s
      opacity 0
      transform translate3d(0, 40px, 0)
      width: 30px;
      height: 30px;
      line-height: 1em;
      border-radius 50%
      background-color transparent
      padding 0

      &:hover
      &.active
        cursor pointer
        box-shadow 0 1px 1px rgba(0, 0, 0, .3)

    &.left
      left 15px

    &.right
      right 0px


  & *
    transition transform .3s $timing, opacity .3s $timing
    z-index: 10

  &::before
    position absolute
    content ''
    top 10px
    right 10px
    bottom 10px
    left 10px
    background-color white
    box-shadow: 0 1px 5px rgba(0,0,0,.1)


  &.active
    .post-actions
      button.btn-check
        opacity 1
        transform translate3d(0, 0, 0)

  &.active::before
    border 2px solid transparent

  &.active:hover
    outline 1px solid transparent

    .post-head
    .post-title
    .post-channels .post-channels-name
      color initial

  &:hover
    background-color white
    box-shadow: 0 1px 5px rgba(0,0,0,.1)

    .post-head strong
    .post-title
    .post-channels .post-channels-name
      color initial

    .post-actions
      for i in 1 2 3 4 5
        button:nth-child({i})
          display inherit
          opacity 1
          transform translate3d(0, 0, 0)
          transition-delay '%sms' % (50 * i)
          transition-duration .3s


    &.active::before
      border-color: transparent !important

    &::before
      box-shadow: none

/*
 * Media Querys
 */

@media screen and (min-width: 576px) {
  .post {
    width: 50%;
  }
}

@media screen and (min-width: 767px) {
  .post {
    width: 100%;
  }
}

@media screen and (min-width: 881px) {
  .post {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .post {
    width: 33.3%
  }
}

@media screen and (min-width: 1500px) {
  .post {
    width: 25%;
  }
}

@media screen and (min-width: 1800px) {
  .post {
    width: 20%;
  }
}

@media screen and (min-width: 1921px) {
  .post {
    width: 16.66%;
  }
}

@media screen and (min-width: 3000px) {
  .post {
    width: 10%;
  }
}