<section :id="item.Id" class="post px-4 d-flex flex-column" :class="{active: item.ativo}">
    <section class="post-head text-truncate px-4 w-100">
        <strong>{{ item.nomeMidia(item.IdMidia) }}</strong>
        <span>{{item.Fonte}}</span>
        <div class="divisor mx-4 my-2"></div>
        <span class="post-date">{{ filters.date(item.DataHora).format('D/MM/YY H:mm:ss') }} |
        {{ filters.date(item.DataHoraCaptura).format('D/MM/YY H:mm:ss') }}</span>
    </section>

    <section class="post-title-section p-2 d-flex justify-content-center align-items-center">
        <router-link @click.native="viewTransitionAnimationStart"
                     class="post-title"
                     :to="{ name: 'view', params: { id: item.Id }}">{{item.Titulo}}</router-link>
    </section>

    <section class="post-content-section px-2 d-flex flex-wrap justify-content-center align-content-center align-items-center">
        <span style="position: relative" v-for="(canal, index) in item.Secoes" @click="toggleCanal(canal, index)">
            <span class="post-channels badge badge-pill badge-default" :class="{active: canal.ativo}">
                <span class="post-channels-aval"></span>
                <span class="post-channels-name">{{canal.nome}}</span>
            </span>
            <i v-if="canal.ativo" class="post-channels-icon material-icons md-18">check_circle</i>
        </span>

    </section>


    <section class="post-actions d-flex align-content-left p-2">
        <a href class="mr-auto p-2"><i class="material-icons md-18">check</i></a>
        <a href class="p-2"><i class="material-icons md-18">file_download</i></a>
        <a href class="p-2"><i class="material-icons md-18">email</i></a>
        <a href class="p-2"><i class="material-icons md-18">delete</i></a>
        <a href class="p-2"><i class="material-icons md-18">more_vert</i></a>
    </section>

</section>
