<section :id="item.Id" class="post px-4 pt-4 pb-5 d-flex flex-column justify-content-center active">
    <section class="post-head text-truncate px-3 w-100">
        <strong>{{ midia }}</strong><br>
        <span>{{item.Fonte}}</span>
        <div class="divisor"></div>
        <span class="post-date">{{ filters.date(item.DataHora).format('D/MM/YY H:mm:ss') }} |
        {{ filters.date(item.DataHoraCaptura).format('D/MM/YY H:mm:ss') }}</span>
    </section>

    <article>

        <section class="post-title-section d-flex justify-content-center align-items-center">
            <router-link @click.native="viewTransitionAnimationStart"
                         class="post-title"
                         :to="{ name: 'view', params: { id: item.Id }}">{{item.Titulo}}</router-link>
        </section>

        <section class="post-content-section px-2 d-flex flex-wrap justify-content-center align-items-center">
      <span class="post-channels badge badge-pill badge-default" v-for="(canal, index) in item.Secoes.split(',')">
        <span class="post-channels-name">{{canal.split('|')[0]}}</span>
          <!--<span class="post-channels-aval"></span>-->
      </span>
        </section>

    </article>

    <section class="post-actions d-flex align-content-left p-2">
        <a href class="mr-auto p-2"><i class="material-icons md-18">check</i></a>
        <a href class="p-2"><i class="material-icons md-18">file_download</i></a>
        <a href class="p-2"><i class="material-icons md-18">email</i></a>
        <a href class="p-2"><i class="material-icons md-18">delete</i></a>
        <a href class="p-2"><i class="material-icons md-18">more_vert</i></a>
    </section>

</section>