@import '../../../assets/variables.styl'

.main-sidebar
  position fixed
  left 0
  top 0
  width $width-main-sidebar
  height 100vh

.sidebar
  @extends .main-sidebar
  margin-left $width-main-sidebar
  width $width-sidebar
  overflow auto

.header
  @extends .sidebar
  margin-left ($width-sidebar + $width-main-sidebar)
  height $height-header
  width 'calc(%s - %s)' % (100% $sidebars)
  //box-shadow 0 2px 5px rgba(0,0,0,.1)
  border-bottom 2px solid $bkg-color

.content
  @extends .header
  margin-top $height-header
  padding-bottom 'calc(%s - (%s - %s))' % (100% 100% $height-header + 100)
  height 100vh
  border 0



@media screen and (max-width: 767px) {
  .sidebar, .main-sidebar {
    margin-left: -($sidebars)
  }

  .header, .content {
    margin-left: 0;
    width: 100%;
  }
}
