/* PAGE */
$open-sans = 'Open Sans', sans-serif;
$pt-serif = 'PT Serif', serif;

/* COLORS */
$bkg-color = #f8f8f8
$main-color = #008ec8
$main-color-dark = darken($main-color, 10%)
$main-color-light = lighten($main-color, 10%)
$main-font-color = #292b2c
$main-bkg-font-color = #fff

/* LAYOUT/DEFAULT */
$height-header = 50px
$width-main-sidebar = 50px
$width-sidebar = 300px
$sidebars = $width-sidebar + $width-main-sidebar

/* ANIMATION */
$timing = cubic-bezier(0.165, 0.84, 0.44, 1)
